/*imports*/
.row { float: left; clear: both; width: 100%; }

.container .columns { float: left; padding-right: 1em; padding-left: 1em; }

.container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen { width: 100%; }

.container { width: 100%; }

.clearfix:after, .container:after { content: ''; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

.clearfix, .container { zoom: 1; }

a { text-decoration: none; color: #373938;  }

li { list-style: none; }

.hidden:after { content: '.'; visibility: hidden; }

.hover { color: #1cbed5 }

p.read-more { float: right; color: #b0457b; font-size: 1.5em; margin: .25em 0; }

.inline { display: inline; }

/*NivoSlider*/
.slider-wrapper { display: none; }
.nivoSlider {display: none; }
.nivo-html-caption { display: none; }

/* Homepage */

/* Single Post Page */
.single-page ul { margin: .5em; }

.single-page .content { margin: 1em 1em; padding: 2em; }

/*About Page*/

.about-page { margin: 2em 0; }
.about-page p { margin: 1em .5em; font-size: 1.25em; }
.about-page h3 { margin: 1em .5em; font-size: 2em; }
.about-page ul { margin-bottom: 1em; padding: 1em;}
.about-page ul li { list-style: circle; }
.about-page ul li p { margin: .25em 1em; line-height: 2em;  }

/*Events Page*/
.events-page .older { margin: 1em 1em; text-align: left; }
.events-page .newer { margin: 1em 1em; text-align: right; }
.events-page h3 a { font-size: 1.5em; color: #b0457b; display: inline; margin: 5px 0; }


/*Gallery Page*/

.gallery-page li img { display: block; }
.gallery-page p { font-size: 1.25em; }
.gallery-page h3 { font-size: 2em; }
.gallery-page ul li a { margin: 1em; }
.gallery-page ul li p { margin: .25em 1em;  }

/*Contact Page*/
.contact-page ul li { margin: 1em; }

/*Shop Page*/


/*media queries*/
@media only screen and (min-width: 1200px) { body { font-size: 1em; /* 16 / 16 */ line-height: 1.5em; }
  .container .columns.one { width: 6.25%; }
  .container .columns.two { width: 12.5%; }
  .container .columns.three { width: 18.75%; }
  .container .columns.four { width: 25%; }
  .container .columns.five { width: 31.25%; }
  .container .columns.six { width: 37.5%; }
  .container .columns.seven { width: 43.75%; }
  .container .columns.eight { width: 50%; }
  .container .columns.nine { width: 56.25%; }
  .container .columns.ten { width: 62.5%; }
  .container .columns.eleven { width: 68.75%; }
  .container .columns.twelve { width: 75%; }
  .container .columns.thirteen { width: 81.25%; }
  .container .columns.fourteen { width: 87.5%; }
  .container .columns.fifteen { width: 93.75%; }
  .container .columns.sixteen { width: 100%; }
  .container { width: 90%; margin: 0 auto; position: relative; right: 0;} }
html.lt-ie9 { max-width: 600px; margin: 0 auto; position: relative; }

/*styles*/
@-ms-viewport { width: device-width; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

html { font: 100%/1.5em 'Overlock', sans-serif; min-height: 100%; position: relative; padding-bottom: 20em; }

body { font-size: 0.875em; /* 14 / 16 */ line-height: 1.5em; color: #373938;  }

img { max-width: 100%; height: auto; }

/*typography*/
p { font-family: 'Overlock', sans-serif; }

h3 { color: #b0457b; font-family: 'Days One', sans-serif; }

/*logo*/
h1.logo a { width: 328px; height: 160px; display: block; background: url(../img/hooper-logo.png) no-repeat 0 0; margin: 0 auto; border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
h1.large-logo a { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/*footer*/
footer { text-align: center; font-family: 'Overlock', sans-serif; margin-bottom: 5em; }

/*header*/
header.row { padding: 1em 0; }

/*band styles*/
.band { padding: 0em 0 1em 0px; }

/*navigation*/
a.nav-link { position: absolute; top: 0; right: 1em; background: #b0457b; text-decoration: none; color: white; padding: .5em; font-weight: bold; border-radius: 0 0 .2em .2em; }

a.nav-link:hover { background: #1cbed5 }

nav[role="primary"] ul { list-style: none; position: absolute; bottom: 0; left: 0; width: 100%; }

nav[role="primary"] ul li a { font-family: 'Overlock', sans-serif; text-decoration: none; font-weight: bold; text-align: center; color: white; background: #b0457b; display: block; padding: 1em; border-bottom: 1px solid #999; }

nav[role="primary"] ul li a:hover { background: #1cbed5; }

nav[role="primary"] ul li:last-child a { border: none; }

#content { margin: 0 1em; }

#sidebar { margin: 0 1em; }

/*page specific styles*/
.featured-section { padding: 0; }

.featured-section .four { margin: 1em 0; }

.featured-section a h3 { color: #b0457b; font-family: 'Days One', sans-serif; text-decoration: none; }

.featured-section a h3:hover { color: #1cbed5; }

.featured-section li img { display: none; }

.featured-section ul li { list-style: none; }

.featured-img {background: none; width: 0px; height: 0px;}

.banner h2 { color: #b0457b; font-size: 3.2em; line-height: 1em; letter-spacing: -0.05em; text-align: center; font-family: georgia, serif; }

.learn-more { background: #3b3b3b; text-align: center; }

.learn-more h2 { color: #f9f9f9; line-height: 2em; }

.button { padding: 0 .75em; background: #b0457b; color: white; text-decoration: none; border-radius: .1em; font-weight: bold; display: inline-block; }

.button:hover { background: #da6133; }

/*media queries*/

@media only screen and (min-width: 450px) { h1.logo { margin: 0 1em 0 0; }
 
  .banner { float: left; width: 100%; }
  .featured-section .four { height: auto; }
  .featured-section li img { display: block; }
  .container .featured-section .four { width: 50%; }
  .container .featured-section .four:nth-child(3) { clear: both; } }

@media only screen and (min-width: 980px) { body {background: url(../img/background.jpg); }
	
	.featured-section { background: url(../img/post-background.jpg); position: relative; right: 0; border-radius: .5em; }
	.featured-section .four { margin: 2em 0; width: 50%; height: 350px; }
	.featured-section .four:nth-child(3) { clear: none; }
	
	/*Shop Page*/
	#content { margin: 0px 2em 0px 5em; background: url(../img/post-background.jpg); border-radius: .5em; }
	#sidebar { margin: 0px 2em 0px 5em; }
	
	h1.logo a { width: 800px; height: 200px; display: block; background: url(../img/text-logo.png) no-repeat 0 0; margin: 0 auto; border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
	/*About Page*/
	.about-page { margin: 2em 0; background: url(../img/post-background.jpg); border-radius: .5em; }
	/*Gallery Page*/
	.gallery-page { background: url(../img/post-background.jpg); border-radius: .5em; }
	/*navigation*/
	a.nav-link { display: none; }
	.table {display: table;	margin: 0 auto; width: 100%; }
	nav[role="primary"] ul { position: relative; margin: 0 auto; display: inline-block; background: url(../img/post-background.jpg); border-radius: .5em;}
	nav[role="primary"] ul li a { font-family: 'Overlock', sans-serif; font-size: 1.5em; float: left;  color: #373938; background: none; border: none; padding: .5em 1.75em;  }
	nav[role="primary"] ul li a:hover { color: #b0457b; background: none; } 
	.nav-container {margin: 0 auto;}
	/*NivoSlider*/	
	.nivoSlider {display: inherit; }
	.nivo-html-caption { display: inherit; }
	.slider-wrapper { display: inherit; } 
	.nivo-controlNav { background: url(../img/post-background.jpg); border-radius: .5em; } }

@media only screen and (min-width: 1200px) {

	.container { width: 100%; max-width: 1225px; }
	
	h1.large-logo a { width: 500px; height: 730px; display: block; background: url(../img/hooper-large.png) no-repeat 0 0; position: absolute; left: 5%; top: 10px; z-index: -9999; border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

	.gallery-page ul li img { margin: 0 auto; }
	.gallery-page ul li h3 { margin: 0 2em; }
	.gallery-page ul li p { margin: 0 3em; }
	
	footer { width: 87.5%; position: relative; text-align: right; padding-right: 1em; padding-top: .5em; } 
	.copyright { padding-right: 5em; }
	}




